@keyframes menuBar {
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(40rem);
    }
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    } 
}

@keyframes fadeLogin {
    from{
        color:var(--color-white-2);
    }
    to{
       color: var(--color-white);
        
    } 
}

@keyframes rotateForever{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}