*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html{
    // cái này sẽ định nghĩa 1 rem bằng bn, với gốc là lấy từ mặc định browser(16px)
    font-size: 62.5%;   // 1rem = 10px;  10px/16px = 62.5%

//     @include respond(tab-land){
        
//         font-size: 56.25%;   // muốn 1rem = 9px --> 9/16px = 56.25%
//     }                        // nếu width < 1200 thì áp dụng

//     @include respond(tab-port){
//         font-size: 50%;       // muốn 1rem  = 8px --> 8/16px = 50%
//     }                         // ở đây font-size của phone cũng tương tự nên ko phải khai
//                               // nếu width < 900 thì áp dụng


//     @include respond(big-desktop){
//         font-size: 75%;      //muốn 1 rem = 12px --> 12/16 = 75%
//     }                          // cái này ko liên quan vì dùng min-width;
// }

                            /*trong th màn hình = 500px thì nó sẽ nhận cả hai media query nhưng chỉ lấy cái
                             thứ tự ở dưới cùng ---> cách sắp xếp media query trong css là từ to xuống bé
                             điều này sẽ bị đảo ngược lại với chiến thuật mobile first, đặt cái to nhất xuống dưới cùng
  
                           */
}
body{
    box-sizing: border-box;
    margin: 0;


    // // padding: 3rem;

    // @include respond(tab-port){
    //     padding: 0;
    // }
    // @include respond(phone){
    //     padding: 0;
    // }
}
h1,h2,h3,h4,p,ul,li,figure{
    margin:0;
    padding: 0;
}


::selection {
    background-color: var(--color-blue-dark);
    color: var(--color-white)
}














