body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--color-gray-dark);

}

.heading-primary{

}

.heding-secondary{

}

.heading-tertiary{
    @include medium-text-bold-20;
    color: var(--color-grey-3)
}

