:root{
//color
    --color-yellow: #F8C700;
    
    --color-blue-dark:#2DA7CE;
    --color-blue-dark-2:#0E87AE;
    --color-blue-light:#A7EAFF;
    --color-blue-light-2:rgba(167, 234, 255, 0.707);

    --color-pink-dark:#CB6BC1;
    --color-pink-light:#FFC8F9;
    
    --color-orange-dark:#EA8B56;
    --color-orange-light:#FFBC96;
    
    --color-grey-1: #EFEFEF;
    --color-grey-2: #E2E2E2;
    --color-grey-3: #B4B4B4;
    --color-grey-4: #8D8D8D;

    --color-white: #fff;
    --color-white-2: rgba(255, 255, 255, 0.469);
    
    --color-black: #000;


}



//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
