
script{
    visibility: hidden;
}
.admin-container{
    width: 80vw;
    margin: 2rem 8rem;
}

.admin-container *{
    display: block;
}
[class *= "admin-container__"] :not(:last-child){
    margin-bottom: 1rem;
}

.admin-label{
    font-size: 1.2rem;
    font-weight: bold;
}

.admin-input,.admin-textarea{
    width: 50rem;
    min-height:2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: rgb(236, 236, 236);
}
fieldset{
    border-radius: 1rem;
    border: 2px solid rgb(0, 90, 135);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    max-width: 50%;

}
.admin-button,.admin-select{
    display: inline-block !important;
    margin-right: 0.5rem;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.admin-button{
    background-color: rgb(240, 94, 118);
    color: white;
    font-weight: bold;
}
.admin-button:focus{
    outline: none;
}

.admin-categories{
    display: flex !important;
}
.admin-categories *{
    margin-right: 0.5rem;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    background-color: rgb(0, 90, 135);
    color: white;
    border-radius: 2rem;
    backface-visibility: hidden;
    
    transition: all 0.1s;
}
.admin-categories-tag:hover{
    transform: scale(1.05) translateY(-0.2rem);
    cursor: pointer;

}

[class*='admin-error']{
    color: red;
    font-size: 1.2rem;
}

.admin-note{
    font-size: 1.2rem;
    color: red;
}