.home{
    &__background{
        background: var(--color-gradient-yellow);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem 10rem 0rem 10rem;
    }

    &__container{
        width: 140rem;
        background-color: var(--color-white);
        position: relative;
        
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);


    }
    &__shadow{
        box-shadow: 0 0 3rem rgba(rgb(187, 121, 0), 0.8);
    }
}

.popular{

    &__author{
        &--title{
            margin-bottom: 4rem;
        }
        &--list{
            list-style: none;   
        }
    
        &--item{
            @include normal-text-bold-16 ;
            color: var(--color-grey-3);
            display: flex;
            align-items: center;
            &:not(:last-child){
                margin-bottom: 2rem;
            }
        }
        &--img{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            background-position: center;
            background-size: 100%;
            margin-right: 2rem;
            &-1{
                background-image: url(../img/png/avatar-1.jpg);
            }
            
            &-2{
                background-image: url(../img/png/avatar-2.jpg);
            }
            &-3{
                background-image: url(../img/png/avatar-3.jpg);
            }
            &-4{
                background-image: url(../img/png/avatar-4.jpg);
            }
            &-5{
                background-image: url(../img/png/avatar-5.jpg); 
            }
            &-6{
                background-image: url(../img/png/avatar-6.jpg);
            }
            &-7{
                background-image: url(../img/png/avatar-7.jpg); 
            }
            &-8{
                background-image: url(../img/png/avatar-8.jpg); 
            }

        }
    }


    &__navigation{
        display: flex;
        align-items: center;
        margin-top: -1rem;
        border-bottom: 2px solid var(--color-grey-2);
    }

    &__category{
        &--title{
            margin-right: 5rem;
        }
        &--list{
            display: flex;
            align-items: flex-end;
            list-style: none;
            @include normal-text-bold-16;
            color: var(--color-grey-3);
            flex:1 1;
            justify-content: space-around;
        }

        &--item{
            &--active{
                position: relative;
                font-size: 2rem;
                color: var(--color-grey-4);
                &::after{
                    content: "";
                    position: absolute;
                    z-index: 2;
                    bottom: -1rem;
                    left: 0rem;
                    width: 100%;
                    height: 4px;
                    border-radius: 5rem;
                    background-color: var(--color-blue-dark);
                }

            }    
        }

        &--btn{
            margin-left: 1rem;
            padding-left: 2rem;
            border-left: var(--border);
        }

        
    }

    &__book--shelf{
        display:flex;
        height: 50rem;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 8rem;
        justify-content: space-between;
        align-items: flex-start;

    }

    

}

.newly{

    &__header{
        color:var(--color-grey-4);
        padding: 0.5rem 3rem;
        display: flex;
        align-items: center;
        pointer-events: none;
        user-select: none;
    }

    &__button{
        padding: 0.5rem 3rem;
        display: flex;
        align-items: center;

    }

    &__line{
        flex: 1 1;
        height: 2px;
        background-color: var(--color-grey-2);

        &-1{
            margin-left: 3rem;
        }

        &-2{
            margin-right: 3rem;
        }

    }



    &__container{
        position: relative;
        z-index: 1;
        padding: 3rem;
        height: 30rem;
        display: flex;
        flex-wrap: nowrap;
        width: 300rem;
        transform: translateX(0rem);
        transition: 0.3s all ease-in-out;

        
    }

}

.topweek{
    &__reader{
        &--title{
            margin-bottom: 4rem;
        }
        &--list{
            list-style: none;   
        }
    
        &--item{
            @include normal-text-bold-16 ;
            color: var(--color-grey-3);
            display: flex;
            align-items: center;
            &:not(:last-child){
                margin-bottom: 2rem;
            }
        }
        &--rank{
            @include heading-3;
            margin-right: 2rem;
            &-1{
                color: var(--color-orange-dark);
            }
            &-2{
                color: var(--color-blue-dark);
            }
        }
        &--img{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            margin-right: 2rem;
            &-1{
                background-image: url(../img/png/avatar-1.jpg);
            }
            
            &-2{
                background-image: url(../img/png/avatar-2.jpg);
            }
            &-3{
                background-image: url(../img/png/avatar-3.jpg);
            }
            &-4{
                background-image: url(../img/png/avatar-4.jpg);
            }
            &-5{
                background-image: url(../img/png/avatar-5.jpg); 
            }
            &-6{
                background-image: url(../img/png/avatar-6.jpg);
            }
            &-7{
                background-image: url(../img/png/avatar-7.jpg); 
            }

        }

        &--info{
            display: flex;
            flex-direction: column;
        }

        &--name{
            color: var(--color-grey-3);
            @include caption-bold-18;
        }

        &--hour{
            display: flex;
            align-items: center;
            color: var(--color-orange-light);
            @include normal-text-16;
            &-icon{
                height: 2rem;
                width: 2rem;
                
            }
        }
    }

    &__book--title{
        position: relative;
        @include heading-3;
        color: var(--color-white);
        padding: 0.8rem 3.5rem;
        display: inline-block;
    }

    &__book--mask{
        overflow: hidden;
        @include shadow-card;
        &-small{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 30rem;
            height: 6rem;
            border-radius: 2rem 2rem 0 0;
        }
        &-big{
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            height: 90%;
            border-radius: 0 2rem 2rem 2rem;
            margin-top: -1rem;
            padding: 3rem;
        }
    }

    &__book--bg{
        background-image: url(../img/png/book-cover-7.jpg);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        filter: blur(4px) brightness(0.7);
        &-small{   
            width: 30rem;
            height: 6rem;
            border-radius: 2rem 2rem 0 0;
            
        }
        &-big{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            border-radius: 0 2rem 2rem 2rem;
        }
    }

    &__book--bookmark{
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: 5rem;
        width: 5rem;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &>*{
            height: 4rem;
            width: 4rem;
            transition: 0.1s ease;
        }

        &:hover .book__bookmark-icon{
            transform: scale(1.5);
        }
    }

    &__button{
        &--container{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            border-radius: 0.6rem;
            height: 100%;
            width: 100%;
            padding-bottom: 1rem;
            margin-top: -1rem;

            z-index: 5;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;

            

            overflow: hidden;
            &>*{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5rem;
                height: 5rem;
                background-color: rgba(black,0.6);
                border-radius: 50%;
            }

            &:hover ~ .topweek__img{
                filter: brightness(0.8) blur(0.2px) saturate(1.5);
                background-size: 105%;
            } 
            
            &:hover .topweek__button--listen{
                transform: translate(0);
            }
            &:hover .topweek__button--read{
                transform: translate(0);
            }
            &:hover .topweek__button--download{
                transform: translate(0);
            }
        }

        &--listen{
            transform: translate(-6rem,6rem);
            transition: 0.3s cubic-bezier(1, 0, 0, 1);
            &-icon{
                width: 3.5rem;
                height: 3.5rem;
            }
        }

        &--read{
            
            transform: translate(0rem,7rem);
            transition: 0.2s cubic-bezier(1, 0, 0, 1);

            width: 6rem;
            height: 6rem;
            &-icon{
                width: 4rem;
                height: 4rem;
            }
        }

        &--download{
            transform: translate(6rem,6rem);
            transition: 0.3s cubic-bezier(1, 0, 0, 1);
            &-icon{
                width: 3.5rem;
                height: 3.5rem;
            }
        }

    }

    &__img{
        position: relative;
        border-radius: 1rem;
        min-height: 42rem;
        min-width: 28rem;
        flex: 1;
        background-position: center;
        background-size: 100%;

        transition: 0.1s ease-in-out;

        @include white-even;

        &-1{
            background-image: url(../img/png/book-cover-7.jpg);
        }

    }

    &__info{
        color: var(--color-white);
        flex: 2;
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        letter-spacing: 0.2px;
    }

    &__title{
        @include heading-2;
    }

    &__author{
        margin-top: -1rem;
        margin-bottom: 1rem;
        @include heading-3;
        font-weight: 400;
    }

    &__rating{
        margin-bottom: 2rem;
        transform: scale(1.8);
        transform-origin: 0% 0%;
    }

    &__description{
        width: 100%;
        margin-bottom: 3rem;
        @include normal-text-bold-16;
    }

    &__button{
        &--arrow{
            width: 3rem;
            height: 3rem;
            margin-right: -2rem;
        }
    }

    &__dots{
        position: absolute;
        z-index: 10;
        display: flex;
        right: 3rem;
        bottom: 3rem;
        &>*{
            height: 1rem;
            width: 1rem;
            background-color: rgba(white,0.5);
            border-radius: 50%;
            transition: 0.2s ease;
            &:not(:last-child){
                margin-right: 0.5rem;
            }
        }

        &--active{
            background-color: rgba(white,1);
        }
    }

}

.collection{
    &__category{
        &--title{
            margin-bottom: 4rem;
        }

        &--overflow{
            height: 70rem;
            overflow-y: scroll;
            margin-right: 2rem;
            &::-webkit-scrollbar{
                width: 1rem;
            }
            &::-webkit-scrollbar-track{
                background-color: var(--color-grey-2);
                border-radius: 10rem;
            }
            &::-webkit-scrollbar-thumb{
                background-color: var(--color-grey-3);
                border-radius: 10rem;
            }
        }

        &--list{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-right: 2rem;
        }

        &--item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid var(--color-grey-2);
            margin-bottom: 1.5rem;
            padding: 0.5rem 1rem;
            transition: 0.2s ease-in-out;
            cursor: pointer;

            &:hover{
                @include button-hover;
            }
            &:active{   
                @include button-active;
            }
                
        }

        &--name{
            @include normal-text-bold-16;
            flex: 1;
            margin-right: auto;
            color: var(--color-grey-4);
        }

        &--count{
            @include normal-text-bold-16;
            color: var(--color-orange-light)
        }

        &--icon{
            width: 4rem;
            height: 4rem;
            padding-right: 1rem;
            margin-right: 1rem;
            border-right:2px solid var(--color-grey-2);
            margin-bottom: 0.5rem;
        }

        
    }

    &__container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 7rem;
        justify-content: space-around;
    }
}

.recommend{
    &__header{
        background-color:var(--color-blue-light);
        color: var(--color-blue-dark);
        padding: 0.5rem 0rem;
        width: 30rem;;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        user-select: none;
        margin-left: 3rem;
        border-radius: 2rem 2rem 0 0 ;
    }

    &__container{
        position: relative;
        background-color:var(--color-blue-light);
        width: 100%;
        height: 60rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__grid{
        display: flex;
        justify-content: space-between;
        padding: 0 12rem;
        margin-top: -8rem;
    }

    &__pagination{
        margin-top: -8rem;
    }

    &__dots{
        position: absolute;
        z-index: 10;
        display: flex;
        right: 50%;
        transform: translateX(50%);
        bottom: 15rem;
        &>*{
            height: 1rem;
            width: 1rem;
            background-color: rgba(white,0.5);
            border-radius: 50%;
            transition: 0.2s ease;
            &:not(:last-child){
                margin-right: 0.5rem;
            }
        }

        &--active{
            background-color: rgba(white,1);
        }
    }
}