@charset "UTF-8";
/*
0-600px: phone
600-900px: tablet poitrait
900-1200px:  tablet lanscape

1200-1800px: normal size of our webpage;

1800px above: wide screen;


khi viết media query thì em tốt hơn rem, và đều nhận font-size root là 16px bất kể
----nhớ em là dựa vào font-size trong block đó, còn rem là căn cứ vào font-size của html
---- nên khi thay đổi font-size của html gốc, trong khi tất cả độ dài đã code dùng rem--> sẽ affect lên toàn bộ
*/
:root {
  --color-yellow: #F8C700;
  --color-yellow-light: rgb(255, 224, 102);
  --color-blue-dark:#2DA7CE;
  --color-blue-dark-2:#0E87AE;
  --color-blue-light:#A7EAFF;
  --color-blue-light-2:rgba(167, 234, 255, 0.707);
  --color-pink-dark:#CB6BC1;
  --color-pink-light:#FFC8F9;
  --color-orange-dark:#EA8B56;
  --color-orange-light:#FFBC96;
  --color-grey-1: #EFEFEF;
  --color-grey-2: #E2E2E2;
  --color-grey-3: #B4B4B4;
  --color-grey-4: rgb(128, 128, 128);
  --color-white: #fff;
  --color-white-2: rgba(255, 255, 255, 0.469);
  --color-black: #000;
  --color-gradient-yellow: linear-gradient(125.78deg, rgba(241, 177, 0, 0.7) 23.81%, rgba(255, 7, 7, 0.616146) 75.79%);
  --border: 2px solid #E2E2E2



; }

@keyframes menuBar {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(40rem); } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeLogin {
  from {
    color: var(--color-white-2); }
  to {
    color: var(--color-white); } }

@keyframes rotateForever {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

*,
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /*trong th màn hình = 500px thì nó sẽ nhận cả hai media query nhưng chỉ lấy cái
                             thứ tự ở dưới cùng ---> cách sắp xếp media query trong css là từ to xuống bé
                             điều này sẽ bị đảo ngược lại với chiến thuật mobile first, đặt cái to nhất xuống dưới cùng
  
                           */ }

body {
  box-sizing: border-box;
  margin: 0; }

h1, h2, h3, h4, p, ul, li, figure {
  margin: 0;
  padding: 0; }

::selection {
  background-color: var(--color-blue-dark);
  color: var(--color-white); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-gray-dark); }

.heading-primary {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-grey-4); }

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-grey-4); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-grey-3); }

.pagination {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; }
  .pagination__container {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none; }
    .pagination__container > * {
      height: 6rem;
      width: 6rem;
      background: rgba(255, 255, 255, 0.82);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease-in-out;
      pointer-events: auto; }
      .pagination__container > *:hover {
        transform: scale(1.1); }
  .pagination__icon {
    height: 2rem;
    width: 2rem; }
    .pagination__icon-left {
      transform: rotate(90deg); }
    .pagination__icon-right {
      transform: rotate(-90deg); }

.book__card {
  position: relative;
  background-color: var(--color-white);
  display: flex;
  width: 29%;
  align-self: flex-start;
  padding: 1.8rem;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.2); }

.book__bookmark {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-blue-light);
  border-radius: 0 2rem 0 2rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .book__bookmark > * {
    height: 3rem;
    width: 3rem;
    transition: 0.1s ease; }
  .book__bookmark:hover .book__bookmark-icon {
    transform: scale(1.2); }

.book__button--container {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  padding-bottom: 1rem;
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .book__button--container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%; }
  .book__button--container:hover ~ .book__img {
    filter: brightness(0.8) blur(0.2px) saturate(1.5);
    background-size: 105%; }
  .book__button--container:hover .book__button--listen {
    transform: translate(0); }
  .book__button--container:hover .book__button--read {
    transform: translate(0); }
  .book__button--container:hover .book__button--download {
    transform: translate(0); }

.book__button--listen {
  transform: translate(-4rem, 4rem);
  transition: 0.3s cubic-bezier(1, 0, 0, 1); }
  .book__button--listen-icon {
    width: 2.5rem;
    height: 2.5rem; }

.book__button--read {
  transform: translate(0rem, 6rem);
  transition: 0.2s cubic-bezier(1, 0, 0, 1);
  width: 4.5rem;
  height: 4.5rem; }
  .book__button--read-icon {
    width: 3rem;
    height: 3rem; }

.book__button--download {
  transform: translate(4rem, 4rem);
  transition: 0.3s cubic-bezier(1, 0, 0, 1); }
  .book__button--download-icon {
    width: 2.5rem;
    height: 2.5rem; }

.book__img {
  position: absolute;
  left: 1.8rem;
  bottom: 1.2rem;
  border-radius: 0.6rem;
  height: 18rem;
  width: 12rem;
  background-position: center;
  background-size: 100%;
  transition: 0.1s ease-in-out;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5); }
  .book__img-1 {
    background-image: url(../img/png/book-cover-1.jpg); }
  .book__img-2 {
    background-image: url(../img/png/book-cover-2.jpg); }
  .book__img-3 {
    background-image: url(../img/png/book-cover-3.jpg); }
  .book__img-4 {
    background-image: url(../img/png/book-cover-4.jpg); }
  .book__img-5 {
    background-image: url(../img/png/book-cover-5.jpg); }
  .book__img-6 {
    background-image: url(../img/png/book-cover-6.jpg); }

.book__info {
  margin-left: 14rem;
  display: flex;
  flex-direction: column; }

.book__title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase; }

.book__author {
  margin-bottom: 0.8rem; }

.book__rating {
  margin-bottom: 0.2rem; }

.book__description {
  width: 100%;
  margin-bottom: 1rem; }

.newly__overflow {
  overflow-x: scroll;
  scroll-behavior: smooth; }
  .newly__overflow::-webkit-scrollbar {
    display: none; }

.newly__card {
  position: relative;
  display: flex;
  width: 45rem;
  align-self: flex-start;
  padding: 1.8rem;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.2); }
  .newly__card-1 {
    background-color: var(--color-orange-light); }
  .newly__card-2 {
    background-color: var(--color-pink-light); }
  .newly__card-3 {
    background-color: var(--color-blue-light); }
  .newly__card:not(:last-child) {
    margin-right: 1.8rem; }

.newly__bookmark {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .newly__bookmark > * {
    height: 4rem;
    width: 4rem;
    transition: 0.1s ease; }
  .newly__bookmark:hover .book__bookmark-icon {
    transform: scale(1.5); }

.newly__button--container {
  position: absolute;
  left: 0rem;
  top: 0rem;
  border-radius: 0.6rem;
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
  margin-top: -1rem;
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  overflow: hidden; }
  .newly__button--container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%; }
  .newly__button--container:hover ~ .newly__img {
    filter: brightness(0.8) blur(0.2px) saturate(1.5);
    background-size: 105%; }
  .newly__button--container:hover .newly__button--listen {
    transform: translate(0); }
  .newly__button--container:hover .newly__button--read {
    transform: translate(0); }
  .newly__button--container:hover .newly__button--download {
    transform: translate(0); }

.newly__button--listen {
  transform: translate(-5rem, 5rem);
  transition: 0.3s cubic-bezier(1, 0, 0, 1); }
  .newly__button--listen-icon {
    width: 3.5rem;
    height: 3.5rem; }

.newly__button--read {
  transform: translate(0rem, 7rem);
  transition: 0.2s cubic-bezier(1, 0, 0, 1);
  width: 5rem;
  height: 5rem; }
  .newly__button--read-icon {
    width: 4rem;
    height: 4rem; }

.newly__button--download {
  transform: translate(5rem, 5rem);
  transition: 0.3s cubic-bezier(1, 0, 0, 1); }
  .newly__button--download-icon {
    width: 3.5rem;
    height: 3.5rem; }

.newly__img {
  position: absolute;
  left: 1.8rem;
  top: 1.8rem;
  border-radius: 0.6rem;
  height: 27rem;
  width: 18rem;
  background-position: center;
  background-size: 100%;
  transition: 0.1s ease-in-out;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5); }
  .newly__img-1 {
    background-image: url(../img/png/book-cover-1.jpg); }
  .newly__img-2 {
    background-image: url(../img/png/book-cover-2.jpg); }
  .newly__img-3 {
    background-image: url(../img/png/book-cover-3.jpg); }
  .newly__img-4 {
    background-image: url(../img/png/book-cover-4.jpg); }
  .newly__img-5 {
    background-image: url(../img/png/book-cover-5.jpg); }
  .newly__img-6 {
    background-image: url(../img/png/book-cover-6.jpg); }

.newly__info {
  color: var(--color-white);
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2px; }

.newly__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.newly__author {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 700; }

.newly__rating {
  margin-bottom: 0.2rem;
  transform: scale(1.2);
  transform-origin: 3% 0%;
  margin-bottom: 1rem; }

.newly__description {
  width: 100%;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 700; }

.rating__container > * {
  font-size: 1.3rem;
  color: var(--color-grey-4); }

.checked {
  color: var(--color-yellow); }
  .checked-1 {
    color: var(--color-orange-dark); }
  .checked-2 {
    color: var(--color-pink-dark); }
  .checked-3 {
    color: var(--color-blue-dark); }

.btn__see-all, .btn__see-all:link, .btn__see-all:visited {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-grey-4); }

.btn__see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-in-out;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  width: 10rem;
  height: 3rem;
  border-radius: 10rem; }
  .btn__see-more-blue {
    background-color: var(--color-blue-dark); }
  .btn__see-more-icon {
    width: 2rem;
    height: 2rem; }
  .btn__see-more:hover {
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.3rem); }
  .btn__see-more:active {
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.1rem); }

.btn__see-book {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-in-out;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  width: 12rem;
  height: 2.5rem;
  border-radius: 10rem;
  background-color: var(--color-white); }
  .btn__see-book-1 {
    color: var(--color-orange-dark);
    box-shadow: 0rem 1.5rem 3rem rgba(234, 139, 86, 0.5);
    transform: translateY(0rem); }
  .btn__see-book-1:hover {
    box-shadow: 0rem 2rem 4rem rgba(234, 139, 86, 0.4);
    transform: translateY(-0.3rem); }
  .btn__see-book-1:active {
    box-shadow: 0rem 1rem 1rem rgba(234, 139, 86, 0.6);
    transform: translateY(-0.1rem); }
  .btn__see-book-2 {
    color: var(--color-pink-dark);
    box-shadow: 0rem 1.5rem 3rem rgba(203, 107, 193, 0.5);
    transform: translateY(0rem); }
  .btn__see-book-2:hover {
    box-shadow: 0rem 2rem 4rem rgba(203, 107, 193, 0.4);
    transform: translateY(-0.3rem); }
  .btn__see-book-2:active {
    box-shadow: 0rem 1rem 1rem rgba(203, 107, 193, 0.6);
    transform: translateY(-0.1rem); }
  .btn__see-book-3 {
    color: var(--color-blue-dark);
    box-shadow: 0rem 1.5rem 3rem rgba(14, 135, 174, 0.5);
    transform: translateY(0rem); }
  .btn__see-book-3:hover {
    box-shadow: 0rem 2rem 4rem rgba(14, 135, 174, 0.4);
    transform: translateY(-0.3rem); }
  .btn__see-book-3:active {
    box-shadow: 0rem 1rem 1rem rgba(14, 135, 174, 0.6);
    transform: translateY(-0.1rem); }

.btn__see-line {
  cursor: pointer;
  display: flex;
  width: 11rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 2px solid var(--color-white);
  transition: 0.2s ease; }
  .btn__see-line:hover {
    transform: translateY(-0.3rem); }
  .btn__see-line:active {
    transform: translateY(-0.1rem); }

.modal__menuBar {
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  transition: background 0.8s cubic-bezier(1, 0, 0, 1);
  pointer-events: visible;
  background: rgba(0, 0, 0, 0.25); }

.modal__menuBar.close {
  pointer-events: none;
  background: rgba(0, 0, 0, 0); }

.menuBar {
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
  flex: 0 0 25%;
  background-color: var(--color-yellow);
  border-radius: 2rem 0 0 2rem;
  box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.25);
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(0rem);
  transition: transform 0.8s cubic-bezier(1, 0, 0, 1); }

.menuBar.close {
  transform: translateX(50rem); }

.menu-close {
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer; }
  .menu-close:hover {
    transform: scale(1.1); }

.menu-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -20rem; }
  .menu-nav__item {
    position: relative; }
    .menu-nav__item:not(:last-child) {
      margin-bottom: 5px; }
    .menu-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      right: -1rem;
      width: 3px;
      height: 100%;
      background-color: var(--color-yellow);
      z-index: 2;
      transform: scaleY(0);
      transition: transform 0.2s 0.15s; }
    .menu-nav__item:hover::before {
      transform: scaleY(0.8); }
    .menu-nav__item::after {
      content: "";
      position: absolute;
      top: 0;
      right: -2.5rem;
      width: 0;
      height: 100%;
      background-color: var(--color-black);
      border-radius: 10rem 0 0 10rem;
      z-index: 1;
      transition: width 0.2s cubic-bezier(1, 0, 0, 1); }
    .menu-nav__item:hover::after {
      width: 120%; }
    .menu-nav__item:hover .menu-nav__link {
      color: var(--color-white); }
  .menu-nav__link:link, .menu-nav__link:visited {
    position: relative;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-black);
    z-index: 3;
    transition: color 0.2s cubic-bezier(1, 0, 0, 1); }

.menu-legal {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-black); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*6rem) / 4) + 2*6rem); }

.grid-1 {
  flex: 1;
  padding: 0 0 0 3rem; }

.grid-3 {
  flex: 3;
  padding: 0 3rem 0 0;
  position: relative; }

.header__banner {
  height: 38rem;
  border-radius: 0 0 2rem 2rem;
  margin-top: -2rem;
  background-image: url(../img/png/banner-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.2); }

.header__search--bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem; }

#header__search {
  width: 60rem;
  padding: 1rem 3rem; }

#header__select {
  margin-left: -14rem;
  height: 6rem; }

#header__icon {
  margin-left: 1rem; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: var(--color-white);
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0; }

.nav__container--browse {
  display: flex;
  margin-right: 2rem; }

.nav__container--search {
  display: flex;
  align-items: center;
  transform-origin: 50% 50%;
  width: 35rem;
  margin-right: auto; }

.nav__container--logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.nav__container--player {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-grey-2);
  border-radius: 10rem;
  padding-right: 3rem; }

.nav__container--user {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-grey-2);
  border-radius: 10rem;
  padding: 5px 5px;
  margin-left: 1.5rem; }

.nav__container--menu {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-left: 2rem;
  border-left: 2px solid var(--color-grey-1);
  cursor: pointer; }

.nav__browse--category {
  margin-right: 1rem; }

.nav__browse--icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 1rem; }

.nav__search--bar {
  background-color: var(--color-grey-1);
  border: none;
  height: 4rem;
  width: 25rem;
  padding: 0rem 2rem;
  border-radius: 10rem;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Lato";
  color: var(--color-grey-4); }
  .nav__search--bar:focus {
    box-shadow: 0rem 0rem 0.8rem rgba(0, 0, 0, 0.3);
    outline: none;
    width: 27rem; }
  .nav__search--bar:hover {
    width: 27rem; }

.nav__search--select {
  margin-left: -12rem;
  background-color: transparent;
  border: none;
  height: 4rem;
  cursor: pointer;
  color: var(--color-grey-4); }
  .nav__search--select:focus {
    outline: none;
    background-color: var(--color-grey-2); }

.nav__search--icon {
  cursor: pointer;
  height: 2.8rem;
  width: 2.8rem;
  transition: all 0.1s; }
  .nav__search--icon:hover {
    transform: scale(1.5); }

.nav__logo--icon {
  width: auto;
  height: 3rem; }

.nav__player--button {
  background-color: var(--color-grey-3);
  display: flex;
  align-items: center;
  padding: 5px 5px;
  border-radius: 10rem;
  margin-right: 1rem; }

.nav__player--img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: url(../img/png/book-cover-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
  animation: rotateForever 5s linear infinite both; }

.nav__player--play {
  clip-path: polygon(54% 51%, 0 0, 0 100%);
  width: 2rem;
  height: 2rem;
  background-color: var(--color-white);
  margin-left: 1rem; }

.nav__player--title {
  font-size: 1.6rem; }

.nav__user--icon {
  height: 1rem;
  width: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.nav__user--img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: url(../img/png/avatar-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5); }

.nav__menu--burger--line {
  width: 2rem;
  height: 3px;
  background-color: var(--color-grey-3); }
  .nav__menu--burger--line:not(:last-child) {
    margin-bottom: 6px; }

.nav__menu--text {
  margin-left: 1rem; }

.section__popular {
  display: flex; }

.section__newly {
  position: relative;
  width: 100%; }

.section__topweek {
  display: flex;
  margin-top: 2rem; }

.body {
  background-color: var(--color-yellow);
  width: 100vw;
  height: 100vh; }

.container {
  background-color: var(--color-yellow);
  width: 100vw;
  height: auto; }

.bm {
  position: absolute;
  top: 0;
  left: 0; }
  .bm__shape {
    z-index: 1; }
  .bm__ball {
    z-index: 0; }
  .bm__book {
    z-index: 1; }
  .bm__line-1 {
    z-index: -2; }
  .bm__line-2 {
    z-index: -3; }
  .bm__leaf {
    z-index: -4; }
  .bm__line-3 {
    z-index: -5; }
  .bm__bg-yellow {
    z-index: -6; }

.login__container {
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 10;
  width: 27%;
  min-width: 20rem;
  text-align: center; }

.login__label {
  cursor: pointer;
  color: var(--color-white-2);
  font-size: 2.8rem;
  font-weight: 900;
  text-decoration: none; }
  .login__label:not(:last-child) {
    margin-right: 2rem; }

.login__check {
  display: none; }

.login__check:checked + .login__label {
  color: var(--color-white);
  text-decoration: underline;
  animation: fadeLogin 0.6s both; }

.login__check-1:checked ~ .form__container-signin {
  display: block; }

.login__check-2:checked ~ .form__container-signup {
  display: block; }

.form__container {
  display: none;
  margin-top: 2rem;
  animation: fade 0.6s both; }

.form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }

.form__icon {
  position: relative;
  align-self: flex-start;
  z-index: 11;
  height: 3rem;
  width: 3rem;
  margin-left: 5.5rem;
  margin-bottom: -3.6rem; }
  .form__icon-gmail {
    height: 2.8rem;
    width: 2.8rem;
    margin-bottom: -1rem; }

.form__input {
  position: relative;
  padding: 1rem 2rem 1rem 4.3rem;
  background-color: var(--color-blue-light-2);
  border: 2px solid var(--color-white);
  border-radius: 10rem;
  flex: 0 1;
  width: 20rem;
  margin-bottom: 1rem; }
  .form__input:focus {
    outline: none;
    border: 2px solid var(--color-yellow); }
  .form__input:focus:invalid {
    border-bottom: 2px solid var(--color-orange-dark); }
  .form__input::-webkit-input-placeholder {
    color: var(--color-white-2); }

.form__error {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--color-orange-light);
  font-weight: 900; }

.form__button {
  padding: 1rem 2.4rem;
  border-radius: 10rem;
  border: none;
  background-color: var(--color-blue-dark-2);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease; }
  .form__button:focus {
    outline: none; }
  .form__button:hover {
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.3rem); }
  .form__button:active {
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.1rem); }
  .form__button-signup {
    margin-right: 2rem; }
  .form__button-gmail {
    background-color: #EB4132; }

script {
  visibility: hidden; }

.admin-container {
  width: 80vw;
  margin: 2rem 8rem; }

.admin-container * {
  display: block; }

[class*="admin-container__"] :not(:last-child) {
  margin-bottom: 1rem; }

.admin-label {
  font-size: 1.2rem;
  font-weight: bold; }

.admin-input, .admin-textarea {
  width: 50rem;
  min-height: 2rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #ececec; }

fieldset {
  border-radius: 1rem;
  border: 2px solid #005a87;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  max-width: 50%; }

.admin-button, .admin-select {
  display: inline-block !important;
  margin-right: 0.5rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-bottom: 2rem; }

.admin-button {
  background-color: #f05e76;
  color: white;
  font-weight: bold; }

.admin-button:focus {
  outline: none; }

.admin-categories {
  display: flex !important; }

.admin-categories * {
  margin-right: 0.5rem;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  background-color: #005a87;
  color: white;
  border-radius: 2rem;
  backface-visibility: hidden;
  transition: all 0.1s; }

.admin-categories-tag:hover {
  transform: scale(1.05) translateY(-0.2rem);
  cursor: pointer; }

[class*='admin-error'] {
  color: red;
  font-size: 1.2rem; }

.admin-note {
  font-size: 1.2rem;
  color: red; }

.home__background {
  background: var(--color-gradient-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 10rem 3rem 10rem; }

.home__container {
  width: 140rem;
  background-color: var(--color-white);
  height: 1000rem;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }

.home__shadow {
  box-shadow: 0 0 3rem rgba(187, 121, 0, 0.8); }

.popular__author--title {
  margin-bottom: 4rem; }

.popular__author--list {
  list-style: none; }

.popular__author--item {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-grey-3);
  display: flex;
  align-items: center; }
  .popular__author--item:not(:last-child) {
    margin-bottom: 2rem; }

.popular__author--img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
  margin-right: 2rem; }
  .popular__author--img-1 {
    background-image: url(../img/png/avatar-1.jpg); }
  .popular__author--img-2 {
    background-image: url(../img/png/avatar-2.jpg); }
  .popular__author--img-3 {
    background-image: url(../img/png/avatar-3.jpg); }
  .popular__author--img-4 {
    background-image: url(../img/png/avatar-4.jpg); }
  .popular__author--img-5 {
    background-image: url(../img/png/avatar-5.jpg); }
  .popular__author--img-6 {
    background-image: url(../img/png/avatar-6.jpg); }
  .popular__author--img-7 {
    background-image: url(../img/png/avatar-7.jpg); }
  .popular__author--img-8 {
    background-image: url(../img/png/avatar-8.jpg); }

.popular__navigation {
  display: flex;
  align-items: center;
  margin-top: -1rem;
  border-bottom: 2px solid var(--color-grey-2); }

.popular__category--title {
  margin-right: 5rem; }

.popular__category--list {
  display: flex;
  align-items: flex-end;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-grey-3);
  flex: 1 1;
  justify-content: space-around; }

.popular__category--item--active {
  position: relative;
  font-size: 2rem;
  color: var(--color-grey-4); }
  .popular__category--item--active::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -1rem;
    left: 0rem;
    width: 100%;
    height: 4px;
    border-radius: 5rem;
    background-color: var(--color-blue-dark); }

.popular__category--btn {
  margin-left: 1rem;
  padding-left: 2rem;
  border-left: var(--border); }

.popular__book--shelf {
  display: flex;
  height: 50rem;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 8rem;
  justify-content: space-between;
  align-items: flex-start; }

.newly__header {
  color: var(--color-grey-4);
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  pointer-events: none;
  user-select: none; }

.newly__button {
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center; }

.newly__line {
  flex: 1 1;
  height: 2px;
  background-color: var(--color-grey-2); }
  .newly__line-1 {
    margin-left: 3rem; }
  .newly__line-2 {
    margin-right: 3rem; }

.newly__container {
  position: relative;
  z-index: 1;
  padding: 3rem;
  height: 30rem;
  display: flex;
  flex-wrap: nowrap;
  width: 300rem;
  transform: translateX(0rem);
  transition: 0.3s all ease-in-out; }

.topweek__reader--title {
  margin-bottom: 4rem; }

.topweek__reader--list {
  list-style: none; }

.topweek__reader--item {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-grey-3);
  display: flex;
  align-items: center; }
  .topweek__reader--item:not(:last-child) {
    margin-bottom: 2rem; }

.topweek__reader--rank {
  font-size: 3rem;
  font-weight: 900;
  margin-right: 2rem; }
  .topweek__reader--rank-1 {
    color: var(--color-orange-dark); }
  .topweek__reader--rank-2 {
    color: var(--color-blue-dark); }

.topweek__reader--img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 2rem; }
  .topweek__reader--img-1 {
    background-image: url(../img/png/avatar-1.jpg); }
  .topweek__reader--img-2 {
    background-image: url(../img/png/avatar-2.jpg); }
  .topweek__reader--img-3 {
    background-image: url(../img/png/avatar-3.jpg); }
  .topweek__reader--img-4 {
    background-image: url(../img/png/avatar-4.jpg); }
  .topweek__reader--img-5 {
    background-image: url(../img/png/avatar-5.jpg); }
  .topweek__reader--img-6 {
    background-image: url(../img/png/avatar-6.jpg); }
  .topweek__reader--img-7 {
    background-image: url(../img/png/avatar-7.jpg); }

.topweek__reader--info {
  display: flex;
  flex-direction: column; }

.topweek__reader--name {
  color: var(--color-grey-3);
  font-size: 1.8rem;
  font-weight: 700; }

.topweek__reader--hour {
  display: flex;
  align-items: center;
  color: var(--color-orange-light);
  font-size: 1.6rem;
  font-weight: 400; }
  .topweek__reader--hour-icon {
    height: 2rem;
    width: 2rem; }

.topweek__book--title {
  position: relative;
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-white);
  padding: 0.8rem 3.5rem;
  display: inline-block; }

.topweek__book--mask {
  overflow: hidden;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.2); }
  .topweek__book--mask-small {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 30rem;
    height: 6rem;
    border-radius: 2rem 2rem 0 0; }
  .topweek__book--mask-big {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 90%;
    border-radius: 0 2rem 2rem 2rem;
    margin-top: -1rem;
    padding: 3rem; }

.topweek__book--bg {
  background-image: url(../img/png/book-cover-7.jpg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(4px) brightness(0.7); }
  .topweek__book--bg-small {
    width: 30rem;
    height: 6rem;
    border-radius: 2rem 2rem 0 0; }
  .topweek__book--bg-big {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 2rem 2rem 2rem; }

.topweek__book--bookmark {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .topweek__book--bookmark > * {
    height: 4rem;
    width: 4rem;
    transition: 0.1s ease; }
  .topweek__book--bookmark:hover .book__bookmark-icon {
    transform: scale(1.5); }

.topweek__button--container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 0.6rem;
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
  margin-top: -1rem;
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  overflow: hidden; }
  .topweek__button--container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%; }
  .topweek__button--container:hover ~ .topweek__img {
    filter: brightness(0.8) blur(0.2px) saturate(1.5);
    background-size: 105%; }
  .topweek__button--container:hover .topweek__button--listen {
    transform: translate(0); }
  .topweek__button--container:hover .topweek__button--read {
    transform: translate(0); }
  .topweek__button--container:hover .topweek__button--download {
    transform: translate(0); }

.topweek__button--listen {
  transform: translate(-6rem, 6rem);
  transition: 0.3s cubic-bezier(1, 0, 0, 1); }
  .topweek__button--listen-icon {
    width: 3.5rem;
    height: 3.5rem; }

.topweek__button--read {
  transform: translate(0rem, 7rem);
  transition: 0.2s cubic-bezier(1, 0, 0, 1);
  width: 6rem;
  height: 6rem; }
  .topweek__button--read-icon {
    width: 4rem;
    height: 4rem; }

.topweek__button--download {
  transform: translate(6rem, 6rem);
  transition: 0.3s cubic-bezier(1, 0, 0, 1); }
  .topweek__button--download-icon {
    width: 3.5rem;
    height: 3.5rem; }

.topweek__img {
  position: relative;
  border-radius: 0.6rem;
  min-height: 42rem;
  min-width: 28rem;
  flex: 1;
  background-position: center;
  background-size: 100%;
  transition: 0.1s ease-in-out;
  box-shadow: 0rem 0rem 2rem rgba(255, 255, 255, 0.8); }
  .topweek__img-1 {
    background-image: url(../img/png/book-cover-7.jpg); }

.topweek__info {
  color: var(--color-white);
  flex: 2;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2px; }

.topweek__title {
  font-size: 4.5rem;
  font-weight: 900; }

.topweek__author {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 900;
  font-weight: 400; }

.topweek__rating {
  margin-bottom: 2rem;
  transform: scale(1.8);
  transform-origin: 0% 0%; }

.topweek__description {
  width: 100%;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 700; }

.topweek__button--arrow {
  width: 3rem;
  height: 3rem;
  margin-right: -2rem; }
