
.newly{

    &__overflow{
        overflow-x: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &__card{
        position: relative;
        display: flex;
        width: 45rem;
        align-self: flex-start;
        padding: 1.8rem;
        border-radius: 1.5rem;
        @include shadow-card;
        &-1{
            background-color: var(--color-orange-light);
        }
        &-2{
            background-color: var(--color-pink-light);
        }
        &-3{
            background-color: var(--color-blue-light);
        }

        &:not(:last-child){
            margin-right: 1.8rem;
        }


    }

    &__bookmark{
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        height: 5rem;
        width: 5rem;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &>*{
            height: 4rem;
            width: 4rem;
            transition: 0.1s ease;
        }

        &:hover .book__bookmark-icon{
            transform: scale(1.5);
        }
    }

    &__button{
        &--container{
            position: absolute;
            left: 0rem;
            top: 0rem;

            border-radius: 0.6rem;
            height: 100%;
            width: 100%;
            padding-bottom: 1rem;
            margin-top: -1rem;

            z-index: 5;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;

            

            overflow: hidden;
            &>*{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3.5rem;
                height: 3.5rem;
                background-color: rgba(black,0.6);
                border-radius: 50%;
            }

            &:hover ~ .newly__img{
                filter: brightness(0.8) blur(0.2px) saturate(1.5);
                background-size: 105%;
            } 
            
            &:hover .newly__button--listen{
                transform: translate(0);
            }
            &:hover .newly__button--read{
                transform: translate(0);
            }
            &:hover .newly__button--download{
                transform: translate(0);
            }
        }

        &--listen{
            transform: translate(-5rem,5rem);
            transition: 0.3s cubic-bezier(1, 0, 0, 1);
            &-icon{
                width: 3.5rem;
                height: 3.5rem;
            }
        }

        &--read{
            
            transform: translate(0rem,7rem);
            transition: 0.2s cubic-bezier(1, 0, 0, 1);

            width: 5rem;
            height: 5rem;
            &-icon{
                width: 4rem;
                height: 4rem;
            }
        }

        &--download{
            transform: translate(5rem,5rem);
            transition: 0.3s cubic-bezier(1, 0, 0, 1);
            &-icon{
                width: 3.5rem;
                height: 3.5rem;
            }
        }


    }

    &__img{
        position: absolute;
        left: 1.8rem;
        top: 1.8rem;
        border-radius: 0.6rem;
        height: 27rem;
        width: 18rem;
        
        background-position: center;
        background-size: 100%;

        transition: 0.1s ease-in-out;

        @include shadow-even;

        &-1{
            background-image: url(../img/png/book-cover-1.jpg);
        }
        &-2{
            background-image: url(../img/png/book-cover-2.jpg);
        }
        &-3{
            background-image: url(../img/png/book-cover-3.jpg);
        }
        &-4{
            background-image: url(../img/png/book-cover-4.jpg);
        }
        &-5{
            background-image: url(../img/png/book-cover-5.jpg);
        }
        &-6{
            background-image: url(../img/png/book-cover-6.jpg);
        }


    }

    &__info{
        color: var(--color-white);
        margin-left: 20rem;
        display: flex;
        flex-direction: column;
        letter-spacing: 0.2px;
    }

    &__title{
        @include caption-bold-18;
        text-transform: uppercase;
    }

    &__author{
        margin-bottom: 0.8rem;
        @include normal-text-bold-16
    }

    &__rating{
        margin-bottom: 0.2rem;
        transform: scale(1.2);
        transform-origin: 3% 0%;
        margin-bottom: 1rem;
    }

    &__description{
        width: 100%;
        margin-bottom: 3rem;
        @include normal-text-bold-16;
    }

    &__button{

    }

}
