.pagination{
    position: absolute;
    width: 100%;
    z-index: 50;
    @include center;
    pointer-events: none;

    &__container{
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;


        &>*{
            height: 6rem;
            width: 6rem;
            background: rgba(white,0.82);
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items:center;
            transition: 0.2s ease-in-out;
            pointer-events: auto;

            &:hover{
                transform: scale(1.1);
            }
        }
    }


    &__icon{
        height: 2rem;
        width: 2rem;
        &-left{
            transform: rotate(90deg);
        }
 
        &-right{
            transform: rotate(-90deg);
        }
    }
}

.pagination2{
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid var(--color-grey-2);
        &>*:not(:last-child){
            margin-right: 5rem;
        }
    }

    &__name{
        @include medium-text-bold-20;
        color:var(--color-grey-4)
    }

    &__list{
        display: flex;
        list-style: none;
        align-items: flex-end;
    }

    &__item{
        @include normal-text-bold-16;
        color:var(--color-grey-4);
        position: relative;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 8rem;

        }
        &--active{
            @include medium-text-bold-20;
            color:var(--color-orange-dark);
            &::after{
                content: "";
                position: absolute;
                left: -50%;
                bottom: -0.4rem;
                width: 200%;
                height: 6px;
                border-radius: 5rem;
                background-color: var(--color-orange-dark);
            }
        }
    }

    &__btn{

    }
}