.navigation{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color:var(--color-white);
    border-radius: 0 0 2rem 2rem;
    @include shadow-card;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    
}

.nav{
    &__container{
        &--browse{
            display: flex;
            margin-right: 2rem;
        }

        &--search{
            display: flex;
            align-items: center;
            transform-origin: 50% 50% ;
            width: 35rem;
            margin-right: auto;
        }

        &--logo{
            position: absolute;
            @include center
            
        }

        &--player{
            display: flex;
            align-items: center;
            position: relative;
            background-color: var(--color-grey-2);
            border-radius: 10rem;
            padding-right:3rem;
        }

        &--user{
            display: flex;
            align-items: center;
            position: relative;
            background-color: var(--color-grey-2);
            border-radius: 10rem;
            padding: 5px 5px;
            margin-left: 1.5rem;
        }

        &--menu{
            display: flex;
            align-items: center;
            padding-left: 2rem;
            margin-left: 2rem;
            border-left: 2px solid var(--color-grey-1) ;

            cursor: pointer;
        }

    }

    &__browse{
        &--category{
            margin-right: 1rem;
        }

        &--icon{
            height: 1.5rem;
            width: 1.5rem;
            margin-top: 1rem;
        }

    }

    &__search{
        &--bar{
            background-color: var(--color-grey-1);
            border: none;
            height: 4rem;
            width: 28rem;
            padding: 0rem 2rem;
            border-radius: 10rem;
            transition: all 0.2s cubic-bezier(1, 0, 0, 1);

            &:focus{
                border: 2px solid var(--color-yellow);
                outline: none;
                width: 31rem;
            }
            &:hover{
                width: 31rem;
            }
        }

        &--select{
            margin-left: -12rem;
            background-color: transparent;
            border: none;
            color: var(--color-grey-4);

            &:focus{
                outline: none;
                background-color: var(--color-grey-2);
            }
        }
        &--option{

        }
        &--icon{
            height: 2.8rem;
            width: 2.8rem;
        }
    }

    &__logo{
        &--icon{
            width: auto;
            height: 3rem;
        }
    }

    &__player{
        &--button{
            background-color: var(--color-grey-3);
            display: flex;
            align-items: center;
            padding: 5px 5px;
            border-radius: 10rem;
            margin-right: 1rem;
 
        }

        &--img{
           width: 4rem;
           height: 4rem;
           border-radius: 50%;
        //    background-color: var(--color-grey-4);
           background-image: url(../img/png/book-cover-1.jpg); 
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
           @include shadow-even;
           animation: rotateForever 5s linear infinite both;
           
        }

        &--play{
            clip-path: polygon(54% 51%, 0 0, 0 100%);
            width: 2rem;
            height: 2rem;
            background-color: var(--color-white);    
            margin-left: 1rem;
        }


        &--title{
            font-size: 1.6rem;
        }
    }

    &__user{
        &--icon{
            height: 1rem;
            width: 1rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }

        &--img{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;


            background-image: url(../img/png/avatar-2.jpg); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include shadow-even
        }

    }

    &__menu{
        &--burger{
            &--line{
                width: 2rem;
                height: 3px;
                background-color: var(--color-grey-2);

                &:not(:last-child){
                    margin-bottom: 6px;
                }
            }


        }

        &--text{
            margin-left: 1rem;
        }

    }

}